.calculator {
    width: 400px;
    margin: 100px auto;
  }

  .calculator, .output_val {
    text-align: center;
  }
  
  .input-display {
    width: 50%;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .keypad button {
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 5px;
  }
  